<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <nav>
        <div class="container">
            
        <a  [routerLink]=""  (click)="scrollTo('shiatsu')">Shiatsu</a>
        <a  [routerLink]=""  (click)="scrollTo('osteo')">Ostéopathe</a>
        <a  [routerLink]=""  (click)="scrollTo('marechal')">Maréchal</a>
        <a  [routerLink]=""  (click)="scrollTo('veterinaire')">Vétérinaire</a>
        <a  [routerLink]=""  (click)="scrollTo('dentiste')">Dentiste</a>
        <a  [routerLink]=""  (click)="scrollTo('masseur')">Masseur</a>
        <a  [routerLink]=""  (click)="scrollTo('equarisseur')">Équarisseur</a>
        <div class="animation start-shiatsu"></div>
        
        
        <div class="menue">
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon >list</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item><a href="#" text-decoration="none">Shiatsu</a></button>
                <button mat-menu-item><a href="#">Ostéopathe</a></button>
                <button mat-menu-item><a href="#">Maréchal</a></button>
                <button mat-menu-item><a href="#">Vétérinaire</a></button>
                <button mat-menu-item><a href="#">Dentiste</a></button>
                <button mat-menu-item><a href="#">Masseur</a></button>
                <button mat-menu-item><a href="#">Équarisseur</a></button>
            </mat-menu>
        </div>
    </div>
    </nav>
</div>