<div class="portfoliocard">
    <div class="coverphoto"></div>
    <div class="profile_picture"></div>
    <div class="left_col">
  
<!-- /////////////////
A PERSONNALISER -->
  
<div class="right_col">
    <h2 class="name">John Doe</h2>
    <h3 class="metier">Métier</h3>
    <ul class="contact_information">
        <li class="work">Adresse</li>

        <li class="website"><a class="nostyle" href="http://monsite.com" target="_blank">monsite.com</a></li>
    
        <li class="mail"><a class="nostyle" href="mailto:NomPrenom@gmail.com">moi@mail.com</a></li>
    
        <li class="phone">00 00 00 00 00</li>

    </ul>
    </div>
    </div>


<!-- /////////////////
POLICE DE CARACTERE -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>