.container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 2em;
}

.item{
    flex: 1 1 50px;
    margin-left: 50px;
    
}


@media screen and (max-width: 600px) {

    .item{
        margin-left: 50px;
    }
}


  