    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    
                    
                    <img src="https://placeimg.com/800/600/people">
                    <div class="infos">
                        <p>Nom : John</p>
                        <p>Prenom : Doe</p>
                        <p class="tel">Tel : 06 95 33 69 35</p>
                        <a href="mailto:flav64.lacluque@gmail.com">flav64.lacluque@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p class="tel">Tel : 06 95 33 69 35</p>
                    <a href="mailto:flav64.lacluque@gmail.com">flav64.lacluque@gmail.com</a>
                    <p class="description">Je pratique l'ostéopathie animale depuis 2017 après un cursus étudiant en Normandie. Je suis inscrite au registre national d'aptitude de l'ordre des vétérinaires (OA327). Dans le milieu du cheval depuis des années, je suis également formée au massage équin. </p>
                </div>
            </div>
        </div>
    </div>

