<form>
    <fieldset>
        <legend>
            <h1 class="legend1">
                Dentiste
            </h1>
        </legend>
        <app-cadre>
                
        </app-cadre>
    </fieldset>
    <fieldset>
        <legend>
            <h1 class="legend1">
                Maréchal
            </h1>
        </legend>
        <app-cadre>
                
        </app-cadre>
    </fieldset>
    <fieldset>
        <legend>
            <h1 class="legend1">
                Vétérinaire
            </h1>
        </legend>
        <app-cadre>
                
        </app-cadre>
    </fieldset>
    <fieldset>
        <legend>
            <h1 class="legend1">
                Shiatsu
            </h1>
        </legend>
        <app-cadre>
                
        </app-cadre>
    </fieldset>
    <fieldset>
        <legend>
            <h1 class="legend1">
                Osthéopathe
            </h1>
        </legend>
        <app-cadre>
                
        </app-cadre>
    </fieldset>
    <fieldset>
        <legend>
            <h1 class="legend1">
                Masseur
            </h1>
        </legend>
        <app-cadre>
                
        </app-cadre>
    </fieldset>
</form>




